<link rel="stylesheet" href="styles/navbar.css" />
<link rel="icon" type="image/x-icon" href="/assets/icon.ico" />

<header>
  <div class="container">
    <h1 class="logo"></h1>

    <nav>
      <ul>
        <img src="/assets/logo.png" alt="logo" class="logonew" />
        <li><a href="/home">Home</a></li>
        <li><a href="/pr">Max Lifts</a></li>
        <li><a href="/home/plans">My Split</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </nav>
  </div>
</header>