<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sign in or register for our service." />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap"
      rel="stylesheet"
    />
    <style>
      a {
        text-decoration: none;
        color: white;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico" />
    <title>MuscleWiki - contact</title>
    <link rel="stylesheet" href="/styles/signin.css" />
  </head>
  <body>
    <img class="no-bg-logo" src="/assets/nobg-logo.png" alt="Logo" />
    <p class="l1">IT DOESN'T GET EASIER.</p>
    <p class="l2">YOU GET BETTER.</p>

    <div class="details">
      <p class="hello">Say hello to us!</p>
      <p class="hello1">Let's talk business or just have a coffee.</p>
      <p class="hello2">We would love to hear from you!</p>
      <div class="box">
        <p class="box-l1">ADDRESS</p>
        <p class="box-l2">
          43F2+7JR, S Ambazari Rd, Ambazari, Nagpur, Maharashtra 440010
        </p>
      </div>
      <div class="box">
        <p class="box-l1">PHONE</p>
        <p class="box-l2">+91 7719970669</p>
      </div>
      <div class="box">
        <p class="box-l1">EMAIL</p>
        <p class="box-l2">sohamanwane111@gmail.com</p>
      </div>
      <div class="handles">
        <a href="https://www.linkedin.com/feed/" target="_blank"
          ><img src="/assets/linkedin.png" alt=""
        /></a>
        <a href="https://github.com/SohamAnwane111" target="_blank"
          ><img src="/assets/github.png" alt=""
        /></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><img src="/assets/instagram.png" alt=""
        /></a>
      </div>
    </div>
  </body>
</html>
