<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Sign in or register for our service." />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap"
      rel="stylesheet"
    />
    <style>
      a{
        text-decoration: none;
        color: white;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico">    <title>MuscleWiki - Sign up</title>
    <link rel="stylesheet" href="/styles/signin.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="no-bg-logo" src="/assets/nobg-logo.png" alt="">
    <p class="l1">IT DOESN'T GET EASIER.</p>
    <p class="l2">YOU GET BETTER.</p>
    <div class="both-form">
      <form action="/signup" method="post" class="left-form">
        <p class="signin-text">Sign up</p>

        <a class="google-btn" href="/auth/google" role="button">
          <img src="/assets/google.png" alt="Google Sign-In" />
          <p>Sign up with Google</p>
        </a>


        <p class="or-text">Or sign up using E-mail Address</p>

        <div class="form-group">
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name"
            autocomplete="off"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter your email"
            autocomplete="off"
            required
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <div class="form-group">
          <button type="submit" name="login" value="ok">SIGN UP</button>
        </div>
      </form>

      <form method="post" action="/signup" class="right-form">
        <p class="p1">Already have</p>
        <p class="p2">an account?</p>
        <p class="prompt-text">Sign in using your existing <span>account</span></p>
        <div class="form-group">
          <button class="right-btn" type="submit" name="register" value="ok">
            <a href="/" > SIGN IN </a>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
